<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SQL TO CYPHER</title>
    <link rel="stylesheet" href="../static/css/layui.css">
    <link rel="stylesheet" href="../static/css/codemirror.css">
    <link rel="stylesheet" href="../static/css/docs.css">
    <link rel="stylesheet" href="../static/css/show-hint.css">
    <link rel="stylesheet" href="../static/css/neo.css">
    <script src="../static/js/codemirror.js"></script>
    <script src="../static/js/matchbrackets.js"></script>
    <script src="../static/js/show-hint.js"></script>
    <script src="../static/js/sql-hint.js"></script>
    <style>
      .CodeMirror {border-top: 1px solid black; border-bottom: 1px solid black;}
    </style>
<!--    <link rel="stylesheet" href="../static/css/graph.css">-->
</head>
<body class="layui-layout-body">
  <div class="layui-layout layui-layout-admin">
    <div class="layui-header">
      <div class="layui-logo">SQL TO CYPHER</div>
  <!--    &lt;!&ndash; 头部区域（可配合layui已有的水平导航） &ndash;&gt;-->
      <ul class="layui-nav layui-layout-left">
        <li class="layui-nav-item"><a href="/">Realtion</a></li>
        <li class="layui-nav-item layui-this"><a href="/sql2cypher">QUERY</a></li>
        <li class="layui-nav-item"><a href="/config">CONFIG</a></li>
        <li class="layui-nav-item"><a href="">LOG</a></li>
      </ul>
    </div>

      <div class="layui-container">
          <!-- 内容主体区域 -->
          <div class="layui-row">
              <div class="layui-col-md5">
                  <div style="padding: 15px;">
                    <h3>SQL QUERY CODE:</h3>
                  </div>
                  <textarea id="code" name="code" style="display: none; border-width:2px; border-style: dashed; border-color:black;">SELECT * FROM XX;</textarea>

              </div>

              <div class="layui-col-md1">
                  <div style="padding: 40px;"></div>
                  <button type="button" class="layui-btn layui-btn-primary layui-btn-sm"><i class="layui-icon"></i></button>
                  <button type="button" id="clear" class="layui-btn layui-btn-primary layui-btn-sm"><i class="layui-icon"></i></button>
              </div>

              <div class="layui-col-md5">
                  <div style="padding: 15px;">
                    <h3>CYPHER QUERY CODE:</h3>
                  </div>
                  <textarea id="cypher" name="code" style="display: none;"></textarea>
              </div>
          </div>




<!--    add code mirror    -->
    </div>
  </div>

  <script src="../static/js/layui.js"></script>
  <script src="../static/js/d3.v3.min.js"></script>
  <script src="../static/js/mysql.js"></script>
  <script src="../static/js/cypher.js"></script>
<!--  <script src="../static/js/graph.js"></script>-->
  <script>
    //JavaScript代码区域
    layui.use('element', function(){
      var element = layui.element;

    });

    var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
        lineNumbers: true,
        mode: "text/x-mysql",
        tabMode: "indent",
        extraKeys: {"Ctrl-Space": "autocomplete"},
        hintOptions: {tables: {
          users: ["name", "score", "birthDate"],
          countries: ["name", "population", "size"]
        }},
        autofocus: true,
        matchBrackets: true,
    });

    editor.addKeyMap({
        name: 'autoInsertParentheses',
        "'('": (cm) => {
            const cur = cm.getCursor()

            cm.replaceRange('()', cur, cur, '+insert')
            cm.doc.setCursor({ line: cur.line, ch: cur.ch + 1 })
        }
    });


    var cypher_editor = CodeMirror.fromTextArea(document.getElementById("cypher"), {
        lineNumbers: true,
        mode: "application/x-cypher-query",
        tabMode: "indent",
        extraKeys: {"Ctrl-Space": "autocomplete"},
        hintOptions: {tables: {
          users: ["name", "score", "birthDate"],
          countries: ["name", "population", "size"]
        }},
        autofocus: true,
        matchBrackets: true,
        theme: "neo"
    });

    cypher_editor.addKeyMap({
        name: 'autoInsertParentheses',
        "'('": (cm) => {
            const cur = cm.getCursor()

            cm.replaceRange('()', cur, cur, '+insert')
            cm.doc.setCursor({ line: cur.line, ch: cur.ch + 1 })
        }
    });


    layui.use('jquery', function (){
        let $ = layui.$;
        $("#clear").on('click', function (data){
            editor.setValue("");
            cypher_editor.setValue("");
        })
    });

  </script>
</body>
</html>